@charset "UTF-8";
.guessedBox{
	overflow:scroll; width:350px; height:200px;
	overflow-y:scroll;
	
	border-top: none;
	width:100%;
}
.searchFrm{
	
	text-align: center;
}
.searchFrm > input{
	width: 60%;
}
.searchFrm > button{
	width : 100px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #79bd9a;
  border-radius: 0px;
}

/* bookmark */
.bookMarkFalse{
	background-image: url("/image/bookmark/bookmark-false.png");
}
.bookMarkTrue{
	background-image:url("/image/bookmark/bookmark-true.png");
}