.mainImg {
            width: 100%;
            z-index: 0;
        }

        .imgMain {
            position: relative;
        }

        .imgMain>div:nth-child(2) {
            position: absolute;
            width: 60%;
            top: 60%;
            left: 33%;
            overflow: hidden;
        }

        .imgMain>div:nth-child(2)>input:first-child {
            float: left;
            width: 50%;
            height: 45px;
            outline: none;
            background-color: rgb(255, 255, 255);
            border: none;
            font-size: 20px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .imgMain>div:nth-child(2)>input:last-child {
            height: 45px;
            width: 45px;
            vertical-align: top;
            background-color: rgb(255, 255, 255);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        [name=Submit] {
            outline: none;
        }

        content {

            width: 100%;
        }

        .content2 {
            display: flex;
            justify-content: center;
        }

        .content2>div {
            margin: 10px;
            width: 45%;
            height: 500px;
            border: 1px solid black;

        }

        .book {
            width: 93%;
            margin: 0 auto;
            border: 1px solid gray;
            height: 350px;

        }

        .book a {
            text-decoration: none;

        }

        .navi {
            padding: 0;
            overflow: hidden;
            margin: 0;
        }

        .navi>li {
            cursor: pointer;
        }

        .tab {
            float: left;
            width: 120px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            box-sizing: border-box;
        }
        .book li {
            list-style-type: none;
        }

        .contents {
            width: 100%;
        }

        .bookContent>ul {
            width: 100%;
            padding: 0;
            justify-content: center;
            display: flex;
            margin:0;
        }

        .bookContent>ul>li {
            width: 150px;
            height: 250px;
            margin-top: 20px;
            margin-right: 25px;
            margin-left: 25px;
        }
		.bookImg{
		height: 200px;
		margin-bottom : 10px;
		}
		.info{
		border: 1px solid black;
		height: 50px;
		}
		.info>p{
		margin-bottom : 0;
		}
        footer {
            margin: 0 auto;
            width: 1200px;
            height: 300px;
            background-color: #343333;
            font-size: 100px;
        }

        .nav-bag {
            width: 100%;
            height: 100%;
            position: fixed;
        }

      /*search Frm */
      .searchFrm{
  width:100%;
  text-align: center;
}
.searchFrm > input{
  width: 60%;
}
.searchFrm > button{
  width : 100px;
}
#searchFrm{
  outline: 0;
  height: 100%;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 250px;
    font-size: 18px;
    height: 70px;
    color: #333;
    background: linear-gradient(to right, #a8dba8 0%, #a8dba8 87%, #3b8686 96%, #3b8686 100%);
  font-family: 'Lato', sans-serif;
  
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
    overflow: hidden;
    border-radius: 34px;
    margin-bottom: 5px;
}
.inputField{
  position:relative;
}
.icon-wrap{
  position: absolute;
  top: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 100%;
  cursor: pointer;
}

.icon-wrap > svg{
  width: 34px;
    height: 34px;
    fill: #fff;
}

.searchBox{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 262px;
	position: relative;
}
.guessedBox{
	display:none;
  top: 172px;
	right: 0;
	width: 1200px;
	position: absolute;
	background: #fff;
  padding: 40px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	
}
.exit-icon > .icon-wrap{
  width: 34px;
  height: 34px;
  top: -27px;
  right: -23px;
}
.exit-icon> .icon-wrap > svg{
  fill: #333333;
}
.exit-icon{
  position: relative;
  width: 100%;
  height: 0px;
}
.searchFieldFrm {
    position: absolute;
    width: 200px;
    height: 50px; 
    top: 11px;
    left: 26px;
    background-color: #a8dba8;
}
       /* //search Frm */
       